html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url(IMG/Fondo_Espacio.gif);
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: white; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: 100% 120%;
}




.Contenedor_RC {
    width: 7vw;
    height: 3vw; 
    border-radius: 3rem; 
    background: transparent; 
    border: 3px solid white; 
    position: relative;
    left: 44%; 
    top: -10%; 
    cursor: pointer;
}
.contenedor_title a{
    text-decoration: none;
    color: white;
    
}
.contenedor_title h2{
   font-family: 'Raleway', sans-serif;
   font-size: 25px;
}
.Recursos {
    width: 40%; 
    height: 100%; 
    border-radius: 50%; 
    background: white; 
    margin-left: 0%; 
    transition: 1s;
}
/*Title-principal*/
.principal {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
   

}
.text-principal {
    font-size: 60px;
    top: -12%;
}
.name-principal{ 
    
    font-size: 80px;
    margin-bottom: 0.5rem
    

}
.boton-principal a{
    text-decoration: none;
    color: white;

}
.boton-principal h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin:auto auto;
    margin-top: 1rem;
      
}
.boton-principal {
    text-align: center;
    width: 200px; 
    height: 60px; 
    background: rgb(144, 90, 196); 
    cursor: pointer;
    color: white; 
    border-radius: 5px; 
    box-decoration-break:slice;
    border:none;
    margin: 1rem auto 0 auto;
   }
/*Secci贸n 1*/

.Seccion_01{
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    position: relative; 
    top: 0px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
 




 /* Secci贸n 2- Reglas +*/



.Titulo_Reglas{
    font-size: 25px; 
    font-family: 'Press Start 2P', cursive;}

.Img_reglas {
    max-width: 100%;
    border-radius: 10px;
   
}

.Reglas_estilos {
    
    margin-top: 1.5rem;
    background: rgba(248, 248, 248, 0.521); 
    color: black; 
    border: 0.19vw solid black;  
    font-size: 15px;
    border-radius: 8px;
    
    
}
.Reglas_estilos h3  {
   
    margin-left: 3%; 
    margin-right: 3%; 
    text-align: center;} 
.Reglas_estilos p  {
    
    margin-left: 3%; 
    margin-right: 3%; 
    text-align: justify;
}
/*Fin de Reglas*/
/* Secci贸n historia*/
.Img_historia {
    max-width: 100%;
    border-radius: 10px;
   
}

.botones_historia{
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 0.5rem;
   
 
   
}

.botones_historia a{
    text-decoration: none;
    color: white;
    
   
    
}

.boton_historia {
    margin: 5rem auto  5rem auto;
    border-radius: 5px;
    width: 180px; 
    height: 70px; 
    background: rgb(144, 90, 196);
    border: 0px;
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.button_narracion{    
    margin-top: 0.5rem;
    width: 55px;
    height: 35px;     
    background: black;
    color: white;
    border-radius: 10px;
   
       
}    
.contenedor_historia{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: auto;
    margin-right: auto;
} 



/* Fin de la Secci贸n historia*/
.boton_reglas {
    border-radius: 5px;
    width: 150px; 
    height: 60px; 
    background: rgb(144, 90, 196);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    left: 2%; 
    top: 2vw; 
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.boton_reglas a{
    text-decoration: none;
    color: white;
}
.logo{
    
    display:grid ;
    grid-template-columns: repeat(2, 5fr);
    gap:0.5px;
    top: 0.5px;
    left: 15px;
    width: 100px;
    height: 80px;

}
.logo h2{
    margin-top: 2rem;
   text-align: center;
   font-family: 'Press Start 2P', cursive;
   font-size: 12px;
}
.logo_fist{
     width: 80px;
    height: 80px;
    
}




@media (min-width: 1200px) {
    .contenedor-Supremo{
        margin-top: 20px;        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8rem;  
         
    }
     .contenedor-history{
        margin-left: 80px;
        margin-right: 100px;
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 8rem;  
         
    }
    .contenedor_reglas{
        margin-top: 3rem;
    }
    .Img_reglas ,.Img_historia {
  
    border-radius: 5px;
     }

    .Reglas_estilos {
       border-radius: 5px;
    
    }
   }

    @media (min-width: 350px) {
   .text-principal {
    
    font-size: 40px;
   
   }
   .name-principal{ 
    font-size: 60px;
   }

    .Img_reglas, .Img_historia {
        max-width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
     }
     
     }
     .Listo {
        margin-bottom: 4rem;
        margin-bottom: 4rem;
}
    
    .contenedor_title h1{
         text-align: center;
    }
    .contenedor-Supremo{
         max-width: 1200px;
         width: 100%;
         margin: 0 auto;
    
      
    }
  
 
    

