<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--iMPORTE UN TIPO DE LETA-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Juegos</title>
</head>

<body class="" >
    <!-- Section 2-->
    <div class="logo">
        <a href="../home.html">
            <img class="logo_fist" src="../assets/images/logo-fist.png" alt="">
        </a>
        <h2>Iron Fist</h2>
    </div>

    <div class="contenedor-Supremo" id="Reglas">

        <div>
            <div class="contenedor_title">

                <h1 class="Titulo_Reglas">Antes de empezar<br><br> lee,<br><br> las instrucciones.</h1>
                <img src="../assets/images/game.jpg" class="Img_reglas">

            </div>
        </div>
        <div class="contenedor_reglas">
            <div class="Reglas_estilos" id="R1">
                <h3>Instrucción - 1</h3>
                <p>Lo que se encuentra señalado son los puntos, que según tu progreso, se irán incrementando al
                    desviar
                    meteoritos de la tierra (Esto al pasar el cursor sobre el meteorito que se acerca), si los
                    puntos
                    obtenidos
                    llegan a 30, es una victoria automática, pero recuerda que los meteoritos son impredecibles en
                    su
                    ataque así que
                    tienes que estar atento a su llegada
                </p>
            </div>
            <div class="Reglas_estilos" id="R2">
                <h3>Instrucción - 2</h3>
                <p>El tiempo que se señala es el límite máximo que puede aguantar la defensa, siendo unos 60
                    segundos,
                    en los que
                    el jugador debe cumplir el límite de puntos o será un GAMER OVER automático, así que recuerda
                    ser
                    rápido recolectando
                    puntos.
                </p>
            </div>
            <div class="Reglas_estilos" id="R3_4">
                <h3>Instrucción - 3 </h3>
                <p>Estos son los meteoritos que debes evitar que ingresen a la tierra, por lo general suelen ser
                    rápidos
                    así que
                    recuerda: no te descuides o confies por que en el momento que lo hagas, estos llegarán a la
                    tierra,
                    es por ello
                    que una raya señala el límite por el cual ya es inevitable nuestra salvación (GAME OVER)
                </p>
            </div>
        </div>


    </div>


    <div class=" boton_reglas" onclick="Mover_2()">
        <a href="history.html">
            <h2>Avanzar</h2>
        </a>
    </div>
    <div class="Recursos" id="Recursos"></div>
    </div>
    <div>

        <!-- Fin de la Section 2-->


        <!--llamado al script js-->
        <script src="JS/funciones.js"></script>


</body>

</html>